@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  /* background: #191d1d;
  display: grid;
  place-items: center; */
  position: relative;
  min-height: 100vh;
}
#seichats-widget {
  width: min(90%, 375px);
  background-color: rgb(20 23 23);
  position: fixed;
  inset: auto 1em 1em auto;
  border-radius: 20px;
}
